
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar
{  
  /* margin-top: -13rem;   */
      /* position: fixed; */
      width: 100vw;
      z-index: 10;
     padding: 1rem 0rem 1rem 8rem;
     display: flex;
    /* z-index: 10; */
    /* justify-content:right; */

    /* left: 2rem; */
    /* text-align: center; */
    align-items: center;
    background-color: dimgrey;
    box-shadow:0px 0px 10px whitesmoke;
}
.logo
{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 600;
    /* left: 100px; */
    font-size: xx-large;
     font-style: normal;
  color: whitesmoke;
   
}


.button-68 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .button-68:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
  
  .button-68:active {
    transform: translateY(2px);
    transition-duration: .35s;
  }
  
  .button-68:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
  }
  
  .wrapper
  {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
  }
h1,h2
{
  padding-top: 1rem ;
  background-color: gainsboro;
  padding-bottom: 1rem ;
  margin-top: 1rem;
    text-align: center;
   font-size: 40px;
   font-family: "Protest Guerrilla";
   font-weight: 400;
   font-style: normal;
}
/* .input-section
{
    display: none;
} */
.input-section.active
{
  display: none;

}
.top-st-code
{
    display: flex;
    padding-bottom: 4rem;
    
}
.top-top-st-code
{
    display: flex;
    /* display: none; */
    background-color: gainsboro;
    justify-content: center;
    align-items: center;
   
}
.top-status-info
{
  display: none;
}
.top-status-info.active{
  display: block;
}
.st-code-input
{
    padding:  2rem 0;
    font-family: "Rubik", sans-serif;
    border-top-left-radius:8px ;
    border-bottom-left-radius:8px ;
    border: 2px solid #27ae60;
    font-size: 25px;
    text-align: center;
    /* background-color: white; */
    /* border: white; */
}

.gen-head
{  
    font-family: "Rubik", sans-serif;
    /* padding: 1rem; */
    font-size: 25px;
    display: inline;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    background-color: gainsboro;
}

.gen-resp
{
    
    /* display: inline; */
    /* background-color:rgb(160, 158, 158); */
    min-height: 50px;
    /* color: #125d31; */
    color: dimgray;
    color: #1e8449;
    min-width: 10vw;
    max-width: 30vw;
    /* max-width: 30vw; */
    display: flex;
    align-items: center;
    justify-content: center;
   
    font-size: 25px;
    font-family: "Rubik", sans-serif;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */

}
.left-box,.right-box
{
  display: flex;
  flex-direction: column;

}

.loader
  {
    margin: 5rem;
    /* display: flex; */

    justify-content: center;
    align-items: center;
    display: none;
  }
  .loader.active{
    display: flex;
  }


/* error handling */

/* From Uiverse.io by SouravBandyopadhyay */ 
.top-error {
width: 100vw;
/* position: absolute; */
margin-top: 4rem;
padding-top: 8rem;
padding-bottom: 4rem;
display: none;
justify-content: center;
background-color: gainsboro;
}
.top-error.active{
  display: flex;
}
.notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 18rem;
  height: 10rem;
  background: #29292c;
  border-radius: 1rem;
  border: 2px solid #27ae60;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  /* --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff); */
  --color: #32a6ff
}





.notititle {
  color: red;
  /* background-color: dimgray; */
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 2rem;
  transition: transform 300ms ease;
  z-index: 10;
}



.notibody {
  color: white;
  font: bolder;
  font-size: 1.5rem;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}



.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}




.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}




.top-head
{
  /* width: 30vw; */
  display:flex ;
  flex-direction: row;
  padding: 1rem 0;
  
  align-items: center;
}
.current-gen-info
{
    /* margin-top: 2rem; */
    margin-bottom: 2rem;
    background-color: gainsboro;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    /* flex-direction: co; */
    flex-wrap: wrap;
    justify-content: space-around;
    
    overflow: hidden;
}
.current-gen-info  .top-head{
    overflow: hidden;
  
  
    padding: 5px 0 5px 0;
    display: flex;
}

.current-info{
    font-family: "Rubik", sans-serif;
    /* background-color: aqua; */
      background-color:gainsboro;
      width:100%;
    /* height: 40vh; */
    /* overflow-y: scroll; */
      /* min-height:100vh; */
      /* display:flex;
      flex-direction:column ;
      justify-content:center;
      align-items:center; */
      /* overflow: hidden; */
      scroll-behavior: smooth;
      padding-bottom: 2rem;
  
  }
  .current-timeline{
	/* width:800px; */
  width: 100vw;
  height: 40vh;
  margin-top: 2rem;
  overflow-y: scroll;
 
	background-color:dimgray;
	color:#fff;
	padding:30px 20px;
    padding-bottom: 2rem;
  
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
}
.current-timeline ul{
    padding-top:4rem;
      list-style-type:none;
      border-left:2px solid whitesmoke;
      padding:10px 5px;
  }
  .current-timeline ul li{
      padding:20px 20px;
      position:relative;
      cursor:pointer;
      transition:.5s;
  }
  .current-timeline ul li span{
      display:inline-block;
      background-color:#27ae60;
      border-radius:25px;
      padding:2px 5px;
      font-size:15px;
      text-align:center;
  }
  .current-timeline ul li .current-content h3{
      color:black;
      font-size:17px;
      padding-top:5px;
  }
  .current-timeline ul li .current-content p{
      padding:5px 0px 2px 0px;
      font-size:15px;
  }
  .current-timeline ul li:before{
      position:absolute;
      content:'';
      width:10px;
      height:10px;
      background-color:white;
      border-radius:50%;
      left:-5px;
      top:28px;
      transition:.5s;
  }
  .current-timeline ul li:hover{
      background-color:rgb(164, 156, 156);
  }
  .current-timeline ul li:hover:before{
      background-color:#27ae60;
      box-shadow:0px 0px 10px 2px #27ae60;
  }
  @media (max-width:300px){
      .current-timeline{
          width:100%;
          padding:30px 5px 30px 10px;
      }
      .current-timeline ul li .current-content h3{
          color:#34ace0;
          font-size:15px;
      }
  
  }



  /* previos stations */

  
.prev-info{
    font-family: "Rubik", sans-serif;
    /* background-color: aqua; */
      background-color:gainsboro;
      width:100%;
    /* height: 40vh; */
    /* overflow-y: scroll; */
      /* min-height:100vh; */
      /* display:flex;
      justify-content:center;
      align-items:center; */
    padding-bottom:3rem ;
  
  }
  .prev-timeline{
      /* width:800px; */
    width: 100vw;
    height: 40vh;
    /* margin-top: -2rem; */
    overflow-y: scroll;
      background-color:dimgray;
      color:#fff;
      padding:30px 20px;
    
      box-shadow:0px 0px 10px rgba(0,0,0,.5);
  }
  .prev-timeline ul{
    padding-top:4rem;
      list-style-type:none;
      border-left:2px solid whitesmoke;
      padding:10px 5px;
  }
  .prev-timeline ul li{
      padding:20px 20px;
      position:relative;
      cursor:pointer;
      transition:.5s;
  }
  .prev-timeline ul li span{
      display:inline-block;
      background-color:#27ae60;
      border-radius:25px;
      padding:2px 5px;
      font-size:15px;
      text-align:center;
  }
  .prev-timeline ul li .prev-content h3{
      color:black;
      font-size:17px;
      padding-top:5px;
  }
  .prev-timeline ul li .prev-content p{
      padding:5px 0px 2px 0px;
      font-size:15px;
  }
  .prev-timeline ul li:before{
      position:absolute;
      content:'';
      width:10px;
      height:10px;
      background-color:white;
      border-radius:50%;
      left:-5px;
      top:28px;
      transition:.5s;
  }
  .prev-timeline ul li:hover{
      background-color:rgb(164, 156, 156);
  }
  .prev-timeline ul li:hover:before{
      background-color:#27ae60;
      box-shadow:0px 0px 10px 2px #27ae60;
  }
  @media (max-width:300px){
      .prev-timeline{
          width:100%;
          padding:30px 5px 30px 10px;
      }
      .prev-timeline ul li .content h3{
          color:#34ace0;
          font-size:15px;
      }
  
  }

  .prev-stat-li-info
  {
    display: flex;
    /* gap: 10px; */
    flex-wrap: wrap;

  }
  .prev-child
  {
    flex: 0 0 50%; 
    padding: 10px 0;
  }
  
  /* upcoming info */
.fut-info{
    font-family: "Rubik", sans-serif;
    /* background-color: aqua; */
      background-color:gainsboro;
      width:100%;
    /* height: 40vh; */
    /* overflow-y: scroll; */
      /* min-height:100vh; */
      /* display:flex;
      justify-content:center;
      align-items:center; */
    padding-bottom:3rem ;
  
  }
  .fut-timeline{
      /* width:800px; */
    width: 100vw;
    height: 40vh;
    /* margin-top: -2rem; */
    overflow-y: scroll;
      background-color:dimgray;
      color:#fff;
      padding:30px 20px;
    
      box-shadow:0px 0px 10px rgba(0,0,0,.5);
  }
  .fut-timeline ul{
    padding-top:4rem;
      list-style-type:none;
      border-left:2px solid whitesmoke;
      padding:10px 5px;
  }
  .fut-timeline ul li{
      padding:20px 20px;
      position:relative;
      cursor:pointer;
      transition:.5s;
  }
  .fut-timeline ul li span{
      display:inline-block;
      background-color:#27ae60;
      border-radius:25px;
      padding:2px 5px;
      font-size:15px;
      text-align:center;
  }
  .fut-timeline ul li .fut-content h3{
      color:black;
      font-size:17px;
      padding-top:5px;
  }
  .fut-timeline ul li .fut-content p{
      padding:5px 0px 2px 0px;
      font-size:15px;
  }
  .fut-timeline ul li:before{
      position:absolute;
      content:'';
      width:10px;
      height:10px;
      background-color:white;
      border-radius:50%;
      left:-5px;
      top:28px;
      transition:.5s;
  }
  .fut-timeline ul li:hover{
      background-color:rgb(164, 156, 156);
  }
  .fut-timeline ul li:hover:before{
      background-color:#27ae60;
      box-shadow:0px 0px 10px 2px #27ae60;
  }
  @media (max-width:300px){
      .fut-timeline{
          width:100%;
          padding:30px 5px 30px 10px;
      }
      .fut-timeline ul li .fut-content h3{
          color:#34ace0;
          font-size:15px;
      }
  
  }

  .fut-stat-li-info
  {
    display: flex;
    /* gap: 10px; */
    flex-wrap: wrap;

  }
  .fut-child
  {
    flex: 0 0 50%; 
    padding: 10px 0;
  }
  

.foot{
    background-color: dimgray;
    padding: 1rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-evenly;
  }
  .icon
  {
    overflow-y: hidden;
  }
  .f-head
  {
    font-size: 2rem;
    font-family: "Protest Guerrilla";
    padding: 1rem;
  }
  .social-media
  {
    font-size: larger;
    color: gainsboro;
    display: flex;
    padding-left:1rem ;
    gap: 1.5rem;
  }
  
  .copyright
  {
    padding: 2rem;
    font-size: large;
    font-family: "Rubik", sans-serif;
    color: whitesmoke;
  }
