*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar
{  
  /* margin-top: -13rem;   */
      /* position: fixed; */
      width: 100vw;
      z-index: 10;
     padding: 1rem 0rem 1rem 8rem;
     display: flex;
    /* z-index: 10; */
    /* justify-content:right; */

    /* left: 2rem; */
    /* text-align: center; */
    align-items: center;
    background-color: dimgrey;
    box-shadow:0px 0px 10px whitesmoke;
}
.logo
{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 600;
    /* left: 100px; */
    font-size: xx-large;
     font-style: normal;
  color: whitesmoke;
   

}
.wrapper
{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
.button-68 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
   
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .button-68:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
  
  .button-68:active {
    transform: translateY(2px);
    transition-duration: .35s;
  }
  
  .button-68:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
  }
  

 
  
  /* CSS */
  .button-77 {
  
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 16px;
    /* font-weight: 800; */
    justify-content: center;
    /* line-height: 24px; */
    margin: 0;
    /* min-height: 64px; */
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
  }
  
  @media (min-width: 768px) {
    .button-77 {
      padding: 19px 32px;
    }
  }
  
  .button-77:before,
  .button-77:after {
    border-radius: 80px;
  }
  
  .button-77:before {
    background-color: rgba(249, 58, 19, .32);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }
  
  .button-77:after {
    background-color: initial;
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
  }
  
  .button-77:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
  }
  
  .button-77:active:not(:disabled) {
    color: #ccc;
  }
  
  .button-77:active:not(:disabled):after {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
  }
  
  .button-77:disabled {
    cursor: default;
    opacity: .24;
  }
  
  h1
  {
    padding-top: 1rem ;
    background-color: gainsboro;
    padding-bottom: 1rem ;
    margin-top: 1rem;
      text-align: center;
     font-size: 40px;
     font-family: "Protest Guerrilla";
     font-weight: 400;
     font-style: normal;
  }
  h2{
    padding-top: 1rem ;
    background-color: gainsboro;
    padding-bottom: 1rem ;
    margin-top: 1rem;
      text-align: center;
     font-size: 30px;
     font-family: "Protest Guerrilla";
     font-weight: 400;
     font-style: normal;
  }
  body
  {
  height: 100vh;
  width: 100vw;

  }

  .foot{
    background-color: dimgray;
    padding: 1rem;
    padding-bottom: 2rem;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-evenly;
  }
  .icon
  {
    overflow-y: hidden;
  }
  .f-head
  {
    font-size: 2rem;
    font-family: "Protest Guerrilla";
    padding: 1rem;
  }
  .social-media
  {
    font-size: larger;
    color: gainsboro;
    display: flex;
    padding-left:1rem ;
    gap: 1.5rem;
  }
  
  .copyright
  {
    padding: 2rem;
    font-size: large;
    font-family: "Rubik", sans-serif;
    color: whitesmoke;
  }

  
.top-st-code
{
    display: flex;
    padding-bottom: 4rem;
    
}
.top-top-st-code
{
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    justify-content: center;
    align-items: center;
   
}
.top-top-st-code.active{
  display: none;
}

.st-code-input
{
    padding:  2rem 0;
    font-family: "Rubik", sans-serif;
    border-top-left-radius:8px ;
    border-bottom-left-radius:8px ;
    border: 2px solid #27ae60;
    font-size: 25px;
    text-align: center;
    /* background-color: white; */
    /* border: white; */
}
.loader
{
  margin: 5rem;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
}
.loader.active{
  display: flex;
}


/* error handling */


.top-error {
width: 100vw;
/* position: absolute; */
margin-top: 4rem;
padding-top: 8rem;
display: none;
justify-content: center;
background-color: gainsboro;
}
.top-error.active{
  display: flex;
}
.notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 18rem;
  height: 10rem;
  background: #29292c;
  border-radius: 1rem;
  border: 2px solid #27ae60;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  /* --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff); */
  --color: #32a6ff
}





.notititle {
  color: red;
  /* background-color: dimgray; */
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 2rem;
  transition: transform 300ms ease;
  z-index: 10;
}



.notibody {
  color: white;
  font: bolder;
  font-size: 1.5rem;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}



.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}




.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}



.show-trains
{
  /* margin-top: 2rem; */
  margin-bottom: 5rem;

  display: none;

  /* background-color: gainsboro; */
  /* padding-bottom: 4rem; */
  /* padding-top: 10rem; */
  /* padding-top: -300px; */
}
.show-trains.active
{
  display: block;
}


td{
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  background-color: gainsboro;
  font-family: "Rubik", sans-serif;
  /* font-family: "Protest Guerrilla"; */
}
th{
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  padding: 1rem;
  /* padding: 1rem 6rem 1rem 6rem; */
  background-color:#27ae60;
}

.show-table-info
{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  /* position: relative; */
  /* width: 100vw; */
  
}
.top_origin,.top_pass,.top_desti
{
  position: relative;
  display: block;
}

.left-slide
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  height: 50px;
  width: 50px;
  background-color:dimgray;
position: absolute;
border-radius: 50%;
  z-index: 10;
  top: 50%;
  left: 5%;
}
.right-slide
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 50px;
  width: 50px;
  border-radius:50% ;
  background-color:dimgray;
position: absolute;
  z-index: 10;
  right: 5%;
  top: 50%;
}
.note-time
  {
    padding: 1rem 2rem;
    font-size: 20px;
    /* color: #27ae60; */
    color: black;
    font-family: "Rubik", sans-serif;
 
  }