 *{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.navbar
{  
  
      width: 100vw;
      z-index: 10;
     padding: 1rem 0rem 1rem 8rem;
     display: flex;
  
    align-items: center;
    background-color: dimgrey;
    box-shadow:0px 0px 10px whitesmoke;
}
.logo
{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 600;
    /* left: 100px; */
    font-size: xx-large;
     font-style: normal;
  color: whitesmoke;
   user-select: none;

}


/* CSS */
.button-68 {
    appearance: none;
    backface-visibility: hidden;
    background-color: dimgray;
    border-radius: 8px;
    border-style: none;
    box-shadow:  rgba(68, 68, 68,0.15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .button-68:hover {
    background-color: rgb(68, 68, 68);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
  
  .button-68:active {
    transform: translateY(2px);
    transition-duration: .35s;
  }
  
  .button-68:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
  }
  .wrapper
  {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
  }
.loader
{
  margin: 5rem;
  /* display: flex; */

  justify-content: center;
  align-items: center;
  display: none;
}
.loader.active{
  display: flex;
}

  .input-info
  {
    display: flex;
    background-color: #27ae60;
    flex-direction: column;
    /* padding: 5rem 1rem; */
    
  }
  .input-info.active
  {
    display: none;
  }

  .input-info input {
    padding: 0.5rem 0;
    border: whitesmoke;
    font-size: 25px;
    min-width: 100px;
    text-align: center;
    border-radius: 8px;
    border-bottom-right-radius:8px ;
   
  }
  .input-info  p{
    padding: 0.5rem 1rem;
    font-size: 30px;
    border-top-left-radius: 8px;
    border-bottom-left-radius:8px ;
    background-color: gainsboro;
    font-family: "Rubik", sans-serif;
  }
  h1
  {
    padding-top: 3rem ;
    background-color: gainsboro;
    padding-bottom: 2rem ;
      text-align: center;
     font-size: 40px;
     font-family: "Protest Guerrilla";
     font-weight: 400;
     font-style: normal;
  }
  .train-info
  {
    display: flex;
    padding: 5rem 1rem;
    padding-bottom:5rem ;
    justify-content: space-evenly;
  }
  @media only screen and (max-width: 800px) {
    .train-info {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }

  .source-name
  {
    display: flex;
  }
  .dest-name
  {
    display: flex;
  }
  .submit-button
  {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .note-station
  {
    padding: 1rem 2rem;
    font-size: 20px;
    color: whitesmoke;
    font-family: "Rubik", sans-serif;
    user-select: none;
  }

  
/* error handling */


.top-error {
width: 100vw;
height: 50vh;
/* position: absolute; */
margin-top: 2rem;
padding-top: 8rem;
display: none;
justify-content: center;
background-color: gainsboro;
}
.top-error.active{
  display: flex;
}
.notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 18rem;
  height: 10rem;
  background: #29292c;
  border-radius: 1rem;
  border: 2px solid #27ae60;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  /* --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff); */
  --color: #32a6ff
}





.notititle {
  color: red;
  /* background-color: dimgray; */
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 2rem;
  transition: transform 300ms ease;
  z-index: 10;
}



.notibody {
  color: white;
  font: bolder;
  font-size: 1.5rem;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}



.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}




.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}


  
.foot{
    background-color: dimgray;
    padding: 1rem;
    padding-bottom: 2rem;
    display: flex;
 
    justify-content: space-evenly;
  }
 
  
  .copyright
  {
    padding: 2rem;
    font-size: large;
    font-family: "Rubik", sans-serif;
    color: whitesmoke;
  }

  .show-trains
  {
    background-color: gainsboro;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .show-trains.active{
    display: flex;
  }

.train-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem ;
    margin:  2rem 0;
    
    background-color: #27ae60;
    
}
.train-details p{
  max-width: 200px;
 padding-bottom: 1rem;
   min-width: 40%;
   font-size: 30px;
   color: whitesmoke;
   font-family: "Rubik", sans-serif;

}

.train-details span
{
    font-size: 25px;
    color: black;
}